* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Home page  */
.home {
    padding: 0px 80px;
    overflow: hidden;
}

/* home page > header  */

.header {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
}

.header img {
    cursor: pointer;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header ul li {
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.header button {
    font-family: "Manrope", sans-serif;
    background-color: #0291F7;
    border: 0;
    padding: 12px 30px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    filter: drop-shadow(10px 13px 24px #E1EAFE);
}

/* home > hero */

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.hero .hero-text>* {
    margin-bottom: 30px;
}

.hero .hero-text {
    width: 50%;
    position: relative;
}

.hero .hero-text h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: "Urbanist", sans-serif;
    text-transform: capitalize;
    max-width: 550px;
}

.hero .hero-text span {
    position: relative;
}

.hero .hero-text span::before {
    width: 340px;
    height: 100px;
    position: absolute;
    left: -6px;
    top: -2px;
    content: "";
    background-image: url("imgs/drag.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero .hero-text p {
    color: #6D6D6D;
    font-family: "Manrope", sans-serif;
    max-width: 400px;
}

.hero .hero-text .hero-text-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero .hero-text .hero-text-btn button {
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #015DB2;
    font-size: 14px;
    font-weight: bold;
}

.hero .hero-text .hero-text-btn button:nth-child(1) {
    background-color: #015DB2;
    color: #fff;
}

.hero .hero-text .hero-text-btn button:nth-child(2) {
    background-color: #fff;
    color: #015DB2;
}

.hero .hero-img {
    width: auto;
    position: relative;
}

.hero .hero-img .img1 {
    position: relative;
    z-index: 2;
}

.blue-circle {
    background-color: #0291F7;
    padding: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 1;
}

.hero .hero-img .img2 {
    position: absolute;
    bottom: -35px;
    left: -160px;
    z-index: 3;
}

.hero .hero-img .img3 {
    position: absolute;
    top: 80px;
    right: -50px;
    z-index: 3;
}

.hero .hero-img .img4 {
    position: absolute;
    bottom: 5px;
    right: -10px;
    z-index: 3;
}

/* marquee section */

.marquee {
    background-color: #fff;
    padding: 80px 150px;
}

.elem {
    position: relative;
}

.elem .moving {
    background-color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem .moving .move-in {
    white-space: nowrap;
    animation-name: move;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem .moving .move-in img {
    margin-right: 80px;
}


@keyframes move {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

/* marquee section end  */

.services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.services .blue-Sidecircle {
    background-color: #015DB2;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.services .lightBlue-Sidecircle {
    background-color: #0291F7;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.services .ser-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 20px;
    border: 0.5px solid #015DB2;
    backdrop-filter: blur(20px);
    padding: 80px 20px;
    margin: 80px 0;
}

.services .ser-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services .ser-text h1 {
    font-size: 50px;
    font-family: "Urbanist", sans-serif;
    margin-bottom: 10px;
}

.services .ser-text p {
    color: #6D6D6D;
    font-family: "Manrope", sans-serif;
    max-width: 250px;
    text-align: center;
    margin-bottom: 40px;
    max-width: 470px;
}

.ser-container .ser-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.ser-container .ser-detail .ser-image {
    width: 50%;
}

.ser-container .ser-detail .ser-image img {
    width: 100%;
}

.ser-container .ser-detail .ser-acc {
    width: 50%;
}

.ser-container .ser-detail .ser-acc .ser-box {
    display: flex;
    font-family: "Manrope", sans-serif;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.2s;
    position: relative;
}

.ser-container .ser-detail .ser-acc .ser-box::before {
    content: "";
    background-image: url("icons/arrow-4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: -20px;
    filter: drop-shadow(4px 20px 20px #aed7f4);
    display: none;
    transition: all 0.2s;
}

.ser-container .ser-detail .ser-acc .ser-box:hover::before {
    right: -15px;
    display: block;
    transition: all 0.2s;
}

.ser-container .ser-detail .ser-acc .ser-box:hover {
    filter: drop-shadow(6px 2px 9px #e6e6e6);
    background-color: #fff;
}

.ser-container .ser-detail .ser-acc .ser-box p {
    max-width: 380px;
    color: #6D6D6D;
    margin-top: 10px;
}

.ser-container .ser-detail .ser-acc button {
    background-color: #015DB2;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    padding: 15px 30px;
    border: 0;
    cursor: pointer;
}

.ser-container .ser-detail .ser-acc .ser-box .ser-box-logo {
    margin-right: 15px;
}

/* about us section css */
.aboutUs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0291F7;
    padding: 80px 60px;
    padding-bottom: 150px;
    margin: 80px 0px;
}

.aboutUs .aboutUs-images {
    width: 50%;
    position: relative;
}

.aboutUs .aboutUs-images .aboutus-img1 {
    position: relative;
}

.aboutUs .aboutUs-images .aboutus-img2 {
    position: absolute;
    bottom: -170px;
    left: 250px;
}

.aboutUs .aboutUs-text {
    width: 50%;
    margin-left: 80px;
}

.aboutUs .aboutUs-text h1 {
    font-size: 50px;
    color: #fff;
    font-family: "Urbanist", sans-serif;
    margin-bottom: 30px;
}

.aboutUs .aboutUs-text p {
    color: #fff;
    font-family: "Manrope", sans-serif;
    max-width: 490px;
    text-align: justify;
    line-height: 2;
}

/* about us section css complete */

/* "lets create a project" section  */

.project {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 100px 0px;
}

.pr-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pr-text h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-size: 70px;
    max-width: 450px;
    line-height: 75px;
}

.pr-circle-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
}

.pr-circle-sec .pr-blue-sec {
    width: 250px;
    height: 250px;
    background-color: #015DB2;
    border-radius: 50%;
    position: relative;
}

.pr-circle-sec .pr-stroke-sec {
    width: 250px;
    height: 250px;
    position: absolute;
    right: -195px;
}

.pr-circle-sec .pr-stroke-sec .circle-text {
    width: 100%;
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}

.pr-circle-sec .pr-stroke-sec .arrow {
    position: absolute;
    background-color: #015DB2;
    padding: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

/* "lets create a project" section  */


/* footer section  */

footer {
    padding: 40px 80px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer .fo-left p {
    font-family: "Manrope", sans-serif;
    margin-top: 60px;
}

footer .fo-right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

footer .fo-right ul li {
    list-style-type: none;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
}

footer .fo-right ul li a {
    text-decoration: none;
    color: #fff;
}

footer .fo-right .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

@media screen and (min-width: 480px) and (max-width:768px) {
    body {
        background-color: aqua;
    }

    .home {
        padding: 0px 50px;
    }

    .hero {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        gap: 50px;
    }

    .hero .hero-text {
        width: 100%;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .project {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0px;
    }

    .pr-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pr-circle-sec {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: auto;
    }

}

@media (max-width: 479px) {
    body {
        background-color: rgb(0, 0, 0);
    }
}