* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red */
}

/* Home page  */
.home {
    padding: 0px 80px;
    overflow: hidden;
}

/* home page > header  */

.header {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
}

.mbl {
    display: none;
}

#close {
    display: none;
}

.mbl i {
    font-size: 25px;
    color: #015DB2;
}

.header img {
    cursor: pointer;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header ul li {
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.header button {
    font-family: "Manrope", sans-serif;
    background-color: #0291F7;
    border: 0;
    padding: 12px 30px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    filter: drop-shadow(10px 13px 24px #E1EAFE);
}

/* home > hero */

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.hero .hero-text>* {
    margin-bottom: 30px;
}

.hero .hero-text {
    width: 50%;
    position: relative;
}

.hero .hero-text h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: "Urbanist", sans-serif;
    text-transform: capitalize;
    max-width: 550px;
}

.hero .hero-text span {
    position: relative;
}

.hero .hero-text span::before {
    width: 340px;
    height: 100px;
    position: absolute;
    left: -6px;
    top: -2px;
    content: "";
    background-image: url("imgs/drag.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero .hero-text p {
    color: #6D6D6D;
    font-family: "Manrope", sans-serif;
    max-width: 400px;
}

.hero .hero-text .hero-text-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero .hero-text .hero-text-btn button {
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #015DB2;
    font-size: 14px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
}

.hero .hero-text .hero-text-btn button:nth-child(1) {
    background-color: #015DB2;
    color: #fff;
}

.hero .hero-text .hero-text-btn button:nth-child(2) {
    background-color: #fff;
    color: #015DB2;
}

.hero .hero-img {
    width: auto;
    position: relative;
}

.hero .hero-img .img1 {
    position: relative;
    z-index: 2;
}

.blue-circle {
    background-color: #0291F7;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 1;
}

.hero .hero-img .img2 {
    position: absolute;
    bottom: -35px;
    left: -160px;
    z-index: 3;
}

.hero .hero-img .img3 {
    position: absolute;
    top: 80px;
    right: -50px;
    z-index: 3;
}

.hero .hero-img .img4 {
    position: absolute;
    bottom: 5px;
    right: -10px;
    z-index: 3;
}

/* marquee section */

.marquee {
    background-color: #fff;
    padding: 80px 150px;
}

.elem {
    position: relative;
}

.elem .moving {
    background-color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem .moving .move-in {
    white-space: nowrap;
    animation-name: move;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem .moving .move-in img {
    margin-right: 80px;
}


@keyframes move {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

/* marquee section end  */

.services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.services .blue-Sidecircle {
    background-color: #015DB2;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.services .lightBlue-Sidecircle {
    background-color: #0291F7;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.services .ser-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 20px;
    border: 0.5px solid #015DB2;
    backdrop-filter: blur(20px);
    padding: 80px 20px;
    margin: 80px 0;
}

.services .ser-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services .ser-text h1 {
    font-size: 50px;
    font-family: "Urbanist", sans-serif;
    margin-bottom: 10px;
}

.services .ser-text p {
    color: #6D6D6D;
    font-family: "Manrope", sans-serif;
    max-width: 250px;
    text-align: center;
    margin-bottom: 40px;
    max-width: 470px;
}

.ser-container .ser-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.ser-container .ser-detail .ser-image {
    width: 50%;
}

.ser-container .ser-detail .ser-image img {
    width: 100%;
}

.ser-container .ser-detail .ser-acc {
    width: 50%;
}

.ser-container .ser-detail .ser-acc .ser-box {
    display: flex;
    font-family: "Manrope", sans-serif;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.2s;
    position: relative;
}

.ser-container .ser-detail .ser-acc .ser-box::before {
    content: "";
    background-image: url("icons/arrow-4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: -20px;
    filter: drop-shadow(4px 20px 20px #aed7f4);
    display: none;
    transition: all 0.2s;
}

.ser-container .ser-detail .ser-acc .ser-box:hover::before {
    right: -15px;
    display: block;
    transition: all 0.2s;
}

.ser-container .ser-detail .ser-acc .ser-box:hover {
    filter: drop-shadow(6px 2px 9px #e6e6e6);
    background-color: #fff;
}

.ser-container .ser-detail .ser-acc .ser-box p {
    max-width: 380px;
    color: #6D6D6D;
    margin-top: 10px;
}

.ser-container .ser-detail .ser-acc button {
    background-color: #015DB2;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    padding: 15px 30px;
    border: 0;
    cursor: pointer;
}

.ser-container .ser-detail .ser-acc .ser-box .ser-box-logo {
    margin-right: 15px;
}

/* latest project  */

.latest-projects {
    width: 100%;
    padding: 70px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.latest-projects-cards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.latest-projects-cards .pr-2 {
    margin-bottom: 40px;
}

.latest-projects-cards .pr-3 {
    margin-bottom: 190px;
}

.latest-projects-cards .pr-card-img {
    width: 100%;
}

.latest-projects-cards h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 50px;
}

.latest-projects-cards .latest-pr-card {
    width: 32%;
}

.latest-projects-cards .latest-pr-card hr {
    background-color: gray;
}

.latest-projects-cards .latest-pr-card .pr-card-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}



.pr-card-detail .pr-card-txt {}

.pr-card-detail .pr-card-txt h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    max-width: 20px;
}

.pr-card-detail .pr-card-txt p {
    color: #7A7A7A;
}

.latest-pr-card .pr-card-arrow {
    background-color: #015DB2;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-pr-card .pr-card-arrow img {
    width: 25%;
}


/* about us section css */
.aboutUs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0291F7;
    padding: 80px 60px;
    padding-bottom: 150px;
    margin: 80px 0px;
}

.aboutUs .aboutUs-images {
    width: 50%;
    position: relative;
}

.aboutUs .aboutUs-images .aboutus-img1 {
    position: relative;
}

.aboutUs .aboutUs-images .aboutus-img2 {
    position: absolute;
    bottom: -170px;
    left: 260px;
}

.aboutUs .aboutUs-text {
    width: 50%;
    margin-left: 80px;
}

.aboutUs .aboutUs-text h1 {
    font-size: 50px;
    color: #fff;
    font-family: "Urbanist", sans-serif;
    margin-bottom: 30px;
}

.aboutUs .aboutUs-text p {
    color: #fff;
    font-family: "Manrope", sans-serif;
    max-width: 490px;
    /* text-align: justify; */
    line-height: 2;
}

/* about us section css end */

/* carousel section  */

.carousel {
    width: 100%;
    padding: 50px 0px;
    background-color: #E7E7E7;
    font-family: "Urbanist", sans-serif;
}

.carousel .carousel-heading h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.mySwiper {
    width: 100%;
    padding-bottom: 100px;
    transform: translate3d(0px, 0px, 0px);
    transform: translateX(0px, 0px, 0px);
}

.swiper-wrapper {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.swiper-slide {
    background-color: white;
    border-radius: 20px;
    height: 350px;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    height: 250px;
}

.swiper-slide.swiper-slide-active {
    height: 320px;
}

.swiper-button-prev {
    left: 47%;
    top: 90%;
}

.swiper-button-prev.swiper-button-disabled {
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev::before {
    content: "";
    background-image: url("./icons/arrow-3.png");
    padding: 20px;
    border-radius: 50%;
    background-color: #015DB2;
    background-repeat: no-repeat;
    background-position: center;
    rotate: 180deg;
    background-size: 8px;
    cursor: pointer;
}

.swiper-button-next::before {
    content: "";
    background-image: url("./icons/arrow-3.png");
    background-size: 8px;
    padding: 20px;
    border-radius: 50%;
    background-color: #015DB2;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.swiper-button-next:hover::before,
.swiper-button-prev:hover::before {
    background-color: #0291F7;
    padding: 30px;
    background-size: 10px;
    transition: all 0.2s;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-next {
    left: 52%;
    top: 90%;
}

.swiper-slide .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper-slide hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #E7E7E7;
}

.swiper-slide .profile .profile-detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide .profile .profile-detail img {
    width: 70px;
    height: 70px;
}

.swiper-slide .profile .profile-detail .profile-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.swiper-slide .profile .profile-detail .profile-text h4 {
    margin: 0;
    font-size: 19px;
    font-weight: 600;
}

.swiper-slide .profile .profile-detail .profile-text p {
    font-size: 14px;
    color: #515151;
    margin: 0;
    word-spacing: 0;
}

.swiper-slide .profile .profile-detail img {
    width: 50px;
    height: 50px;
}

.swiper-slide .rating img {
    width: 120px;
}

.swiper-slide .description {
    text-align: justify;
    font-size: 14px;
    color: #515151;
    margin: 0;
    word-spacing: -1;
}

/* carousel section end */

/* "lets create a project" section  */

.project {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 100px 0px;
}

.pr-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pr-text h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-size: 60px;
    max-width: 450px;
    line-height: 75px;
}

.pr-circle-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
}

.pr-circle-sec .pr-blue-sec {
    width: 250px;
    height: 250px;
    background-color: #015DB2;
    border-radius: 50%;
    position: relative;
}

.pr-circle-sec .pr-stroke-sec {
    width: 250px;
    height: 250px;
    position: absolute;
    right: -195px;
}

.pr-circle-sec .pr-stroke-sec .circle-text {
    width: 100%;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}

.pr-circle-sec .pr-stroke-sec .circle-text:hover {
    animation-name: rotate;
}

.pr-circle-sec .pr-stroke-sec .arrow {
    position: absolute;
    background-color: #015DB2;
    padding: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

/* "lets create a project" section  */


/* footer section  */

footer {
    padding: 40px 80px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

footer .fo-left p {
    font-family: "Manrope", sans-serif;
    margin-top: 60px;
}

footer .fo-right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

footer .fo-right ul li {
    list-style-type: none;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
}

footer .fo-right ul li a {
    text-decoration: none;
    color: #fff;
}

footer .fo-right .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

@media (max-width:1250px) {

    /* hero section  */

    .home {
        padding: 0px 50px;
    }

    .hero {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        gap: 50px;
    }

    .hero .hero-text {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hero .hero-img .img2 {
        left: -140px;
    }

    /* marquree section  */

    .marquee {
        background-color: #fff;
        padding: 70px 70px;
    }

    /* services section  */

    .ser-container .ser-detail {
        justify-content: center;
        flex-direction: column;
    }

    .ser-container .ser-detail .ser-image {
        width: 100%;
    }

    .ser-container .ser-detail .ser-acc {
        width: 100%;
    }

    /* aboutUs section  */

    .aboutUs {
        justify-content: center;
        flex-direction: column;
        padding-bottom: 80px;
    }

    .aboutUs .aboutUs-images {
        width: 90%;
        margin-bottom: 40px;
    }

    .aboutUs .aboutUs-images .aboutus-img1 {
        width: 100%;
    }

    .aboutUs .aboutUs-images .aboutus-img2 {
        /* right: -200px; */
        left: 280px;
    }

    .aboutUs .aboutUs-text {
        width: 90%;
        margin-left: 0px;
    }

    .aboutUs .aboutUs-text p {
        max-width: 100%;
    }

}

@media (max-width:950px) {
    body {
        /* background-color: aqua; */
    }

    /* latest project section  */

    .aboutUs .aboutUs-images .aboutus-img2 {
        left: 240px;
    }

    .latest-projects {
        width: 100%;
        padding: 50px;
        font-family: "Plus Jakarta Sans", sans-serif;
    }

    .latest-projects-cards h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 30px;
    }

    .pr-card-detail .pr-card-txt h2 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        max-width: 20px;
    }

    .pr-card-detail .pr-card-txt p {
        font-size: 12px;
    }

    .latest-pr-card .pr-card-arrow {
        height: 40px;
        width: 40px;
    }

    /* your project section  */
    .project {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 100px 0px;
    }

    /* .carousel section  */

    /* .carousel {
        padding: 30px 0px;
    }

    .mySwiper {
        width: 150%;
        padding-bottom: 70px;
    }

    .swiper-slide {
        padding: 30px;
        height: 250px;
    }

    .profile-text {
        margin-left: 10px;
        margin-bottom: 0px;
    }

    .swiper-slide .profile {
        margin-bottom: 20px;
    }

    .swiper-slide.swiper-slide-next {
        height: 350px;
        left: -17% !important;
    }

    .swiper-slide .profile .profile-detail img {
        width: 50px;
        height: 50px;
    }

    .swiper-slide .profile .profile-detail .profile-text h4 {
        font-size: 16px;
    }

    .swiper-slide .profile .profile-detail .profile-text p {
        font-size: 14px;
    } */

}

@media (max-width: 479px) {

    body {
        /* background-color: rgb(14, 134, 155); */
    }


    /* home page > header  */

    .header {
        width: 100%;
        padding: 30px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Manrope", sans-serif;
    }

    .mbl {
        display: block;
    }

    #close {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 30px;
        color: #015DB2;
    }

    .header img {
        cursor: pointer;
    }

    .header .nav {
        display: flex;
        align-items: start;
        justify-content: start;
        padding: 40px 20px;
        flex-direction: column;
        gap: 30px;
        height: 100vh;
        flex-direction: column;
        position: fixed;
        top: 0px;
        right: -300px;
        width: 250px;
        z-index: 12;
        background-color: white;
        transition: all 0.3s;
        filter: drop-shadow(-5px 4px 9px #c2c2c2);
    }

    .nav.active {
        right: 0;
    }

    .header ul li {
        list-style-type: none;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
    }

    .header button {
        font-family: "Manrope", sans-serif;
        background-color: #0291F7;
        border: 0;
        padding: 12px 30px;
        border-radius: 50px;
        color: #fff;
        cursor: pointer;
        filter: drop-shadow(10px 13px 24px #E1EAFE);
        display: none;
    }

    .home {
        padding: 0px 20px;
    }

    .hero {
        width: 100%;
        padding: 50px 0;
        gap: 50px;
    }

    .hero .hero-text {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hero .hero-text h1 {
        font-size: 30px;
    }

    .hero .hero-text p {
        font-size: 14px;
    }

    .hero .hero-text span::before {
        width: 150px;
        left: -6px;
        top: -29px;
    }

    .hero .hero-text .hero-text-btn button {
        padding: 12px 20px;
        border: 1px solid #015DB2;
        font-size: 12px;
    }

    .hero .hero-img .img1 {
        position: relative;
        z-index: 2;
        width: 100%;
    }

    .blue-circle {
        width: 70px;
        height: 70px;
        top: -30px;
        left: -15px;
    }

    .hero .hero-img .img2 {
        left: -25px;
        width: 60%;
        bottom: -40px;
    }

    .hero .hero-img .img3 {
        top: 60px;
        right: -10px;
        width: 30%;
    }

    .hero .hero-img .img4 {
        bottom: -10px;
        width: 15%;
        right: 0;
    }

    /* marquree section  */

    .marquee {
        background-color: #fff;
        padding: 30px 10px;
    }

    .elem .moving .move-in img {
        margin-right: 50px;
    }

    /* services section  */

    .services .blue-Sidecircle {
        width: 100px;
        height: 100px;
    }

    .services .lightBlue-Sidecircle {
        width: 100px;
        height: 100px;
    }

    .services .ser-text h1 {
        font-size: 30px;
    }

    .services .ser-text p {
        font-size: 14px;
    }

    .ser-container .ser-detail .ser-acc .ser-box p {
        font-size: 14px;
    }

    .ser-box-txt h3 {
        font-size: 16px;
    }

    .ser-container .ser-detail .ser-acc button {
        font-size: 12px;
        font-family: "Manrope", sans-serif;
        padding: 10px 20px;
    }

    /* latest project section */

    .latest-projects {
        width: 100%;
        padding: 20px;
        padding-top: 40px;
    }

    .latest-projects-cards {
        flex-direction: column;
        gap: 40px;
    }

    .latest-projects-cards .latest-pr-card {
        width: 100%;
    }

    .latest-projects-cards .pr-2 {
        margin-bottom: 0px;
    }

    .latest-projects-cards .pr-3 {
        margin-bottom: 0px;
    }

    /* aboutUs section */

    .aboutUs {
        justify-content: center;
        flex-direction: column;
        padding: 20px 0px;
        padding-bottom: 50px;
        margin: 40px 0px;
    }

    .aboutUs .aboutUs-images {
        width: 90%;
        margin-bottom: 60px;
    }

    .aboutUs .aboutUs-images .aboutus-img2 {
        width: 50%;
        bottom: -100px;
        left: 180px;
    }

    .aboutUs .aboutUs-text h1 {
        font-size: 30px;
        color: #fff;
        font-family: "Urbanist", sans-serif;
        margin-bottom: 10px;
    }

    .aboutUs .aboutUs-text p {
        font-size: 14px;
    }

    /* .carousel section  */

    .carousel .carousel-heading h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .swiper-button-next {
        left: 58%;
        top: 90%;
    }

    .swiper-button-prev {
        left: 42%;
        top: 90%;
    }

    /* .carousel section end */

    .project {
        width: 100%;
        flex-direction: column;
        margin: 0px 0px;
        padding: 30px;
    }

    .pr-text {
        width: 100%;
    }

    .pr-text h1 {
        font-size: 30px;
        max-width: 450px;
        line-height: 35px;
    }

    .pr-circle-sec {
        margin-right: 120px;
    }

    .pr-circle-sec .pr-blue-sec {
        width: 150px;
        height: 150px;
    }

    .pr-circle-sec .pr-stroke-sec {
        width: 150px;
        height: 150px;
        right: -120px;
    }

    .pr-circle-sec .pr-stroke-sec .arrow {
        padding: 15px;
    }

    /* footer section  */

    footer {
        padding: 20px 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        font-size: 14px;
    }

    footer .fo-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .fo-left p {
        margin-top: 20px;
    }

    footer .fo-right .social-icon {
        gap: 20px;
        margin-top: 20px;
    }

}